@import 'reset.css';
@import 'common.css';

@font-face {
    font-family: 'Nanum';
    src: url('../font/NanumR.ttf') format('truetype'),
         url('../font/NanumR.woff') format('woff'),
         url('../font/NanumR-Regular.eot'),
         url('../font/NanumR.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nanum';
    src: url('../font/NanumB.ttf') format('truetype'),
         url('../font/NanumB.woff') format('woff'),
         url('../font/NanumB.eot'),
         url('../font/NanumB.woff2') format('woff2');
    font-weight: 700;
    font-style: bold;
} 

body {font-family: 'Nanum', sans-serif; font-weight: 400;     
    letter-spacing: -0.05em;
}

.inner {
    width: 1152px; 
    margin: 0 auto;
}

.bg {z-index: 1;
    top: 0; left: 0; bottom: 0; right: 0;
    opacity: 0;
    visibility: hidden; 
    position: fixed;
    transition: 0.4s;
}
.bg.on {opacity: 1;
    visibility: visible;
}    
/* header_top */
.header_top {
    overflow: hidden;
    height: 52px;
}
.header_top .logo_area {
    float: left;
    overflow: hidden;
    width: calc(100% - 300px);
}
.header_top .logo_area h1 {
    float: left;
    margin-top: 8px;
    margin-right: 60px;
    margin-left: 2px;
}
.header_top .logo_area h1 a {
    display: block;
    width: 105px;
    height: 27px;
    background: url(../images/icon_set_common.png) no-repeat -5px -165px;
    
}
.header_top .logo_area .menu {
    overflow: hidden;
}
.header_top .logo_area .menu li{
    float: left;
    font-size: 16px;
    margin-right: 20px;
    line-height: 52px;
    font-weight: 700;
}
.header_top .logo_area .menu li:first-child {
    margin-left: 1px;
}
.header_top .login_area {
    float: right;
}
.header_top .login_area a {
    float: left;
    font-size: 14px;
    margin-left: 16px;
    font-weight: 600;
    line-height: 52px;
}
.header_top .login_area a:last-child {
    margin-right: 1px;
}

/* header_bottom */
.header_bottom {
    height: 119px;
    overflow: hidden;
    position: relative;
}
.header_bottom h1 {
    float: left;
    width: 178px;
    height: 51px;
    margin-right: 145px;
    margin-left: 1px;
}
.header_bottom h1 a{
    background: url(../images/logo_new_2019.png?ver=2019) no-repeat 0 0;
    margin: 38px 0 30px;
    float: left;
    width: 178px;
    height: 51px;
}
.header_bottom .search {
    width: 460px;
    height: 42px;
    border: 3px solid #2292e9;
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -245px;
    margin-top: 0;
    box-sizing: border-box;
}
.header_bottom .search input {float: left; width: calc(100% - 61px);
    border: 0; padding: 0 10px; height: 36px;line-height: 38px;
}
.header_bottom .search input::placeholder {color: #2292e9;}
.header_bottom .search .keyboard {
    margin-left: 3px;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 42px;
    width: 29px;
    height: 16px;
    background: url(../images/keyboard.png);
    border: none;
}
.header_bottom .search .btn_search {
    display: inline-block;
    width: 36px;
    height: 36px;
    padding: 0;
    background: url(../images/icon_set_common.png) no-repeat -32px -97px;
    position: absolute;
    top: 0; right: 0;
    border: none;
}
.header_bottom .right_wrap {
    float: right;
}
.header_bottom .right_wrap .lang_site {
    width: 110px;
    height: 21px;
    position: absolute;
    right: 0;
    top: 0;
}
.header_bottom .right_wrap .lang_site select {
    float: left;
    width: 80px;
    height: 21px;
    border-color: #afcfea;
    color: #1E6CB3;
    font-size: 12px;
    padding: 0 0 0 2px;
    box-sizing: border-box;
    line-height: 21px;
}
.header_bottom .right_wrap .lang_site .select_btn {
    float: left;
    width: 30px;
    font-size: 11px;
    color: #fff;
    background-color: #1E6CB3;
    border: 0;
    height: 21px;
    display: inline-block;
    padding: 0;
}
.header_bottom .right_wrap .info_weather{
    width: 260px;
    height: 85px;
    float: right;
    margin-top: 34px;
    vertical-align: top;
    text-align: right;
}
.header_bottom .right_wrap .info_weather img {
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
    float: left;
    margin-left: 3px;
}
.header_bottom .right_wrap .info_weather .sec_temp {
    max-width: 242px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}
.header_bottom .right_wrap .info_weather .sec_temp P {
    text-align: left;
}
.header_bottom .right_wrap .info_weather .sec_temp P:last-child {
    margin-top: 7px;
}
.header_bottom .right_wrap .info_weather .sec_temp strong {
    font-size: 25px;
    margin-right: 5px;
    font-weight: bold;

}
.header_bottom .right_wrap .info_weather .sec_temp .w_txt1 {
    font-size: 16px;
    letter-spacing: -0.1em;
}
.header_bottom .right_wrap .info_weather .sec_temp .w_txt2 {
    font-size: 13px;
    letter-spacing: -1px;
}


/* header_bottom */

footer {
    color: #636363;
}
footer .inner {}
footer .inner .foo_top {
    overflow: hidden;
    margin-bottom: 15px;
}
footer .inner .foo_top .page {
    float: left;
}
footer .inner .foo_top .page ul {
    overflow: hidden;
}
footer .inner .foo_top .page ul li {
    float: left;
    /* border-right: 1px solid #dcdcdc; */
    margin-right: 5px;
    padding-right: 5px;
    font-size: 12px;
    line-height: 30px;
    overflow: hidden;
}
footer .inner .foo_top .page ul li a {
    float: left;
}
footer .inner .foo_top .page ul .bar {
    width: 1px; height: 14px;
    background: #dcdcdc;
    display: inline-block;
    float: left;
    margin-top: 8px;
    margin-left: 10px;
}
footer .inner .foo_top .page ul li .bold {
    font-weight: 700;
    color: #000;
}
footer .inner .foo_top .sns {
    float: right;
    overflow: hidden;
}
footer .inner .foo_top .sns a {
    float: left;
    margin-left: 10px;
    width: 24px;
    height: 24px; 
}
footer .inner .foo_top .sns .sns01 {
    background: url(../images/icon_set_sns.png) no-repeat -25px 0;
}
footer .inner .foo_top .sns .sns02 {
    background: url(../images/icon_set_sns.png) no-repeat -50px 0;
}
footer .inner .foo_top .sns .sns03 {
    background: url(../images/icon_set_sns.png) no-repeat -75px 0;
}
footer .inner .foo_top .sns .sns04 {
    background: url(../images/icon_set_sns.png) no-repeat -100px 0;
}
footer .inner .foo_top .sns .sns05 {
    background: url(../images/icon_set_sns.png) no-repeat -125px 0;
}
footer .inner .foo_top .sns .sns06 {
    background: url(../images/icon_set_sns.png) no-repeat -150px 0;
}
.foo_bottom {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 22px;
    overflow: hidden;
}
.foo_bottom .left {
    float: left;
    overflow: hidden;
}
.foo_bottom .left h3 {
    margin-right: 40px;
    float: left;
    width: 108px;
    height: 45px;
    background: url(../images/icon_set_common.png) no-repeat -180px 0;
}
.foo_bottom .left .address {
    width: 600px;
    float: left;
    padding-bottom: 2px;
    font-size: 12px;
    line-height: 20px;
}
.foo_bottom .left .address p {
    font-size: 11px;

}
.foo_bottom .right {
    float: right;
}
.foo_bottom .right .mark1 {
    background-image: url(../images/footer_mark_isms-p.png);
    width: 79px; height: 56px;
    display: block;
    float: left;
}
.foo_bottom .right .mark2 {
    background-image: url(../images/footer_mark_wah.png);
    width: 86px; height: 56px;
    display: block;
    float: left;
    margin-left: 10px;
}