/* sc_visual */
.sc_visual {height: 350px; overflow: hidden;font-size: 14px;}
.sc_visual .left {float: left;background: #ccc;width: 770px;height: 100%;position: relative;}
.sc_visual .slide_content {background: #f01;margin-left: 80px;position: absolute;width: calc(100% - 80px); height: 100%;}
.slide_content h3 {
    width: 80px;
    height: 50%;
    position: absolute;
    top: 0;
    left: -80px;
    color: #fff;
    background-color: #d2e1e9;
    color: #333;
}
.slide_content h3 a {
    display: block;
    padding-top: 50px;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    height: 175px;
}

.slide_content .icon {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
    background-color: #fff;
    background-position: 0 0;
    border-radius: 50%;
}
.slide_content2 .icon {
    background-position: -50px 0px;
}
/* 슬라이드 */
.slide_content .slide {
    height: 100%;
}
.slide_content .swiper {
    height: 100%;
    background: #ccc;
}
.slide_content .fig {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 122px;
    background-color: rgba(0,0,0,.7);
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
}
.hi_control {
    position: absolute;
    bottom: 12px; right: 0;
    z-index: 2;
    color: #fff;
    overflow: hidden;
    height: 20px;
    
}
.hi_control .hi_pagers {
    float: left;
    width: auto;
    margin-right: 10px;
    margin-top: 5px;
}
.hi_control .hi_pagers::after {
    content: '';
    position: absolute;
    right: 60px;
    width: 1px;
    height: 16px;
    background: rgba(255,255,255,.5);
}
.hi_control .btn {
    float: left;
    left: 49px;
    background-image: url(../images/icon_set_common_2019.png);
    background-position: -241px -285px;
    width: 18px; height: 15px;
    margin-top: 2px;
}
.hi_control .btn.prev {
    margin-right: 17px;
}
.hi_control .btn.next {
    background-image: url(../images/icon_set_common_2019.png);
    background-position: -256px -285px;
    margin-right: 5px;
}
.hi_control .s_btn {
    float: left;
    margin-top: 3px;
}
.hi_control .s_btn{
    width: 13px; height: 13px;
    background: url(../images/icon_set_common_2019.png) no-repeat;
    position: absolute;
    right: 25px;
}
.hi_control .pause {background-position: -285px -285px;}  /* 재생되는 상태   */
.hi_control .s_play{background-position: -269px -285px;} /* 정지가 된 상태 */

/* 2번째 */
.slide_content2 h3 {
    top: 50%;
}

/* on */
.slide_content.on {
    z-index: 5;
}
.slide_content.on h3{
    background: #0158a8;;
    color: #fff;
}
.slide_content.on h3 a::after {
    content: " ";
    position: absolute;
    z-index: 10;
    left: 99%;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 32px;
    border-color: transparent transparent transparent #0158a8;
    margin-top: -25px;
}
.sc_visual .right {
    float: right;
    width: 360px;
    height: 100%;
}
.sc_visual .right .img {
    position: relative;
    width: 100%;
    height: 213px;
    overflow: hidden;
    background: url(../images/bg_corona_pc_211230.jpg) no-repeat 0 0;
}
.sc_visual .right .img .input_lists span {
    position: absolute;
    left: 50%;
    display: inline-block;
    min-width: 47px;
    height: 16px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    letter-spacing: -0.09em;
}
.sc_visual .right .img .input_lists .result0 {
    top: 11px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 25px;
    color: #000;
    left: initial;
    right: 20px;
}
.sc_visual .right .img .input_lists .result1 {
    top: 60px;
    margin-left: -105px;
}
.sc_visual .right .img .input_lists .result2 {
    top: 60px;
    margin-left: 57px;
}
.sc_visual .right .img .input_lists .result3 {
    top: 103px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 25px;
    color: #000;
    left: initial;
    right: 20px;
}
.sc_visual .right .img .input_lists .result41 {
    top: 149px;
    margin-left: -49px;
    width: 37px;
    min-width: 30px;
}
.sc_visual .right .img .input_lists .result42 {
    top: 149px;
    margin-left: -8px;
    width: 105px;
}
.sc_visual .right .img .input_lists .result43 {
    top: 149px;
    margin-left: 100px;
    width: 58px;
}
.sc_visual .right .img .input_lists .result51 {
    top: 166px;
    margin-left: -156px;
    width: 105px;
}
.sc_visual .right .img .input_lists .result52 {
    top: 167px;
    margin-left: -49px;
    width: 37px;
    min-width: 30px;
}
.sc_visual .right .img .input_lists .result53 {
    top: 167px;
    margin-left: -8px;
    width: 105px;
}
.sc_visual .right .img .input_lists .result54 {
    top: 167px;
    margin-left: 100px;
    width: 58px;
}
.sc_visual .right .img .input_lists .result61 {
    top: 186px;
    margin-left: -49px;
    width: 37px;
    min-width: 30px;
}
.sc_visual .right .img .input_lists .result62 {
    top: 186px;
    margin-left: -8px;
    width: 105px;
}
.sc_visual .right .img .input_lists .result63 {
    top: 186px;
    margin-left: 100px;
    width: 58px;
}

.sc_visual .right .oh {
    display: block;
    margin-top: 7px;
    height: 130px;
}
/* .sc_service */
.sc_service {margin-top: 60px; position: relative;
}
.sc_service h2 {font-size: 24px; font-weight: 700;
    border-bottom: 1px solid #dbdbdb;  line-height: 1.35em;
    margin-bottom: 20px; display: block; padding-bottom: 10px;
}
.sc_service .all_site {border: 1px solid #ccc; width: 110px;
    height: 25px; line-height: 25px;
    background: url(../images/icon_link6.png) no-repeat right 13px top 50%;
    text-align: center; padding-right: 10px; font-size: 15px;
    display: inline-block; position: absolute; right: 0; top: 0;
}
.sc_service ul {
    overflow: hidden;
    display: table;
    width: 100%;
    margin: 0 auto;
}
.sc_service ul li {width: auto; height: 90px; display: table-cell;
    text-align: center;
}
.sc_service ul li a {display: block; width: 100%; height: 100%;}
.sc_service ul .public .ico_service{background-position: -360px 0;}
.sc_service ul .job .ico_service{background-position: -120px 0;}
.sc_service ul .realestate .ico_service{background-position: -300px 0;}
.sc_service ul .portal .ico_service{background-position: -180px 0;}
.sc_service ul .welfare .ico_service{background-position: -960px 0;}
.sc_service ul .house .ico_service{background-position: -780px 0;}
.sc_service ul .icare .ico_service{background-position: -840px 0;}
.sc_service ul .mediahub .ico_service{background-position: -1020px 0;}
.sc_service ul .ebook .ico_service{background-position: -1080px 0;}
.sc_service ul .council .ico_service{background-position: -600px 0;}
/* .sc_service */

/* banner */
.banner {background: #eff4f8; margin-top: 35px; padding: 20px 0;
    margin-bottom: 60px;
}
.banner .inner .corona {
    overflow: hidden;
}
.banner .inner .corona a {
    float: left;
    display: block;
    border-right: 1px solid #dbdbdb;
}
.banner .inner .corona a img {
    width: 287px;
}
.banner .inner .corona a:last-child {
    border-right: 0;
}
/* banner */

/* sc_board */
.sc_board {
    overflow: hidden;
    padding-bottom: 50px;
    border-bottom: 2px solid #000;
}
.sc_board .board {position: relative;}
.sc_board .board ul {
    margin-top: 16px;
}
.sc_board .board ul li{padding: 6px 0 6px 0; position: relative;
    width: 100%;  overflow: hidden;
    
}
.sc_board .board ul li em{
    float: left; font-size: 15px; line-height: 1.35em; margin-right: 10px;
}
.sc_board .board ul li em.environment {
    color: #599100;
}
.sc_board .board ul li em.eco {
    color: #069363;
}
.sc_board .board ul li em.wel {
    color: #d76000;
}
.sc_board .board ul li em.cul {
    color: #9b64d3;
}
.sc_board .board ul li em.go {
    color: #028ab6;
}
.sc_board .board ul li p {display: -webkit-box; -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; overflow: hidden;
    font-size: 15px; line-height: 1.35em;
}
.sc_board .board h2 {font-size: 24px; font-weight: 700;
    margin: 10px 0; padding-bottom: 5px; border-bottom: 2px solid #dbdbdb;
    line-height: 1.35em;
}
.sc_board .board .all_site {position: absolute; top: 15px; right: 0;
    width: 22px; height: 20px; border: 1px solid #ddd;
    background: url(../images/icon_set_common.png) no-repeat -1px -1px;
}
.sc_board .event {
    float: left;
    width: 360px;
    margin-right: 36px;
}
.sc_board .festival {
    float: left;
    width: 360px;
    margin-right: 36px;
}

/* sc_board */

/* often */
.sc_board .often {
    width: 360px;
    float: left;
}
.often h2 {font-weight: 700; font-size: 24px; margin: 10px 0; 
    padding-bottom: 5px;
}
.often .wrap ul {
    padding: 17px 5px 0 20px;
    background: #eff4f8;
    overflow: hidden;
}
.often .wrap ul li {
    width: 50%;
    float: left;
    margin-bottom: 16px;
    font-size: 15px;
}
.often .wrap ul li a::before {
    display: inline-block;
    content: '';
    background: #666666;
    width: 2px;
    height: 2px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.sc_info {
    margin-top: 40px;
}
.sc_info .title_group {
    font-size: 24px;
    padding-bottom: 5px;
    font-weight: 600;
}
.sc_info ul {overflow: hidden;}
.sc_info ul li{float: left; width: calc(100% / 8);
    background-repeat: no-repeat; background-position: center;
    height: 145px;text-align: center;
}
.sc_info ul .home {background-image: url(../images/icon_house.png);}
.sc_info ul .economy {background-image: url(../images/icon_economy.png);}
.sc_info ul .traffic {background-image: url(../images/icon_traffic.png);}
.sc_info ul .en {background-image: url(../images/icon_environment.png);}
.sc_info ul .wel {background-image: url(../images/icon_welfare.png);}
.sc_info ul .sa {background-image: url(../images/icon_safty.png);}
.sc_info ul .culture {background-image: url(../images/icon_culture.png);}
.sc_info ul .government {background-image: url(../images/icon_work.png);}
.sc_info ul li a {
    display: block;
    padding-top: 130px;
}
/* news_area */
.news_area {margin-top: 40px; position: relative;}
.news_area h2 {font-size: 24px; margin: 10px 0 20px 0; padding-bottom: 5px;
    font-weight: 600;
}
.news_area .all_site {display: inline-block; width: 75px; margin-top: 20px;
    background: url(../images/icon_set_common.png) no-repeat 0 -259px;
    position: absolute; right: 0; top: -7px; font-size: 15px; 
    color: #7d7d7d; vertical-align: middle;
}
.news_area ul {
    overflow: hidden;
}
.news_area ul li{
    float: left;
    width: calc(100% - 6opx)/4;
    margin-right: 20px;
    position: relative;
}
.news_area ul li a {width: 100%; height: 100%; display: block;}
.news_area ul li:nth-child(4n) {
    margin-right: 0;
}
.news_area ul li:nth-child(-n+4) {
    margin-bottom: 20px
}
.news_area ul li .img_area {
    overflow: hidden;
}
.news_area ul li .img_area img {
    transition: 0.3s;
}
.news_area ul li .img_area:hover img {
    transform: scale(1.1);
}
.news_area ul li p{ 
    line-height: 1.5em; 
    display: block;
    margin-top: 20px;
    width: 273px; 
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.news_area ul li h3 {
    position: absolute;
    top: 156px;
    width: 82px;
    height: 32px;
    color: #fff;
    text-align: center;
    line-height: 32px;
    z-index: 1;
}
.news_area ul li .p_culture {
    background-color: #9b64d3;
}
.news_area ul li .p_environment {
    background-color: #599100;
}
.news_area ul li .p_eco {
    background-color: #069363;
}
.news_area ul li .p_government {
    background-color: #028ab6;
}
/* news_area */

/* sc_video */
.sc_video {
    margin-top: 50px;
    overflow: hidden;
    
}
.sc_video .video {
    float: left;
    width: 280px;
}
.sc_video .video .title_group {
    font-size: 24px;
    margin: 10px 0;
    font-weight: 600;
    margin-bottom: 20px;
}
.sc_video .video .video_box {
    position: relative;
}

.sc_video .video .img {
    position: relative;
    overflow: hidden;
}
.sc_video .video .img img{
    transition: 0.3s;
}
.sc_video .video .img:hover img{
    transform: scale(1.1);
}
.sc_video .video .video_box p {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
    box-sizing: border-box;
}
.sc_video .video .video_box .txt {
    padding: 11px 20px;
    background: rgba(0,0,0,.7);
    position: absolute;
    bottom: 0;  left: 0;
}
.sc_video .seoul_news {
    float: left;
    margin-left: 20px;
    width: 480px;
    margin-right: 22px;
}
.sc_video .seoul_news ul li {
    margin-bottom: 25px;
}
.sc_video .seoul_news ul li a span {
    float: left;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #09ac43;
}
.sc_video .seoul_news ul li a p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.sc_video .seoul_news .title_group{
    font-size: 24px;
    margin: 10px 0;
    padding-bottom: 20px;
    font-weight: 600;
}
.sc_video .sns {
    width: 350px;
    float: right;
    background-image: url(../images/bg_sns_list.jpg);
    background-repeat: no-repeat;
    height: 194px;
    margin-top: 15px;
    box-sizing: border-box;
    position: relative;
}
.sc_video .sns > a {width: 100%; height: 100%; display: block;}
.sc_video .sns .title_group {padding: 10px 15px 5px; font-size: 24px;
    font-weight: 600; font-size: 22px; margin-top: 3px;
}
.sc_video .sns h2::after {
    background: url(../images/seoul_sns.png) no-repeat -247px 0;
    content: '';
    position: absolute;
    top: 13px;
    right: 180px;
    display: inline-block;
    width: 34px;
    height: 24px;
    border-left: 1px solid #878787;
    padding-right: 6px;
}
.sc_video .sns ul {
    overflow: hidden;
    position: absolute;
    top: 90px;
    left: 50%;
    width: 276px;
    height: 40px;
    margin-left: -138px;
}
.sc_video .sns ul li {
    float: left;
    color: #fff;
    margin: 0 3px;
}
.sc_video .sns ul a.instar {background-position: 0 0;}
.sc_video .sns ul a.facebook {background-position: -40px 0;}
.sc_video .sns ul a.twitter {background-position: -80px 0;}
.sc_video .sns ul a.blog {background-position: -120px 0;}
.sc_video .sns ul a.youtebe {background-position: -160px 0;}
.sc_video .sns ul a.kakao {background-position: -200px 0;}
/* sc_video */

.sc_banner {
    margin-top: 50px;
    padding-bottom: 60px;
    border-bottom: 2px solid #000;
}
.main_banner {
    margin-top: 50px;
    overflow: hidden; position: relative; padding-bottom: 35px;
}
.main_banner .hi_control {color: #000; bottom: 0;  }
.main_banner .hi_control .hi_pagers { font-size: 14px; margin-top: 3px;
}
.main_banner .hi_control .prev {
    background: url(../images/icon_set_common.png) no-repeat -45px -43px;
    width: 20px;
    height: 20px;
    border: 1px solid #999; margin-top: 0; box-sizing: border-box;
}
.main_banner .hi_control .s_btn{
    width: 20px; height: 20px;
    background: url(../images/icon_set_common_2019.png) no-repeat;
    display: inline-block; border: 1px solid #999; 
    box-sizing: border-box;  margin-top: 0; margin-right: -1px;
}
.main_banner .hi_control .s_play {background-position: -101px -43px;} /* 재생되는 상태 */
.main_banner .hi_control .pause {background-position: -65px -43px;} /* 정지가 되는 상태 */
.main_banner .hi_control .next {
    background: url(../images/icon_set_common.png) no-repeat -86px -43px;
    width: 20px;
    height: 20px; border: 1px solid #999; margin-top: 0;
    box-sizing: border-box; margin-left: 1px;
}
/* .sc_engine */
.sc_engine {
    margin: 80px 0 50px; 
}

.engine {
    position: relative; border: 1px solid #d0d0d0; z-index: 2;
}
.engine::after {
    content: '';
    clear: both;
    display: block;
} 
.engine > li{
    float: left;
    text-align: center;
    width: calc(100% / 3); border-left: 1px solid #d0d0d0; box-sizing: border-box;
}
.engine > li:first-child {border-left: 0;}
.engine > li > a{
    display: block;
    background: #f7f7f7;
    line-height: 50px;
    position: relative; font-size: 14px;
}
.engine > li .dept1.on {background: #e2e2e2;}
.engine > li .dept1.on i {top: 20px;
    transform: rotate(45deg);
    transform-origin: center center;}
.engine i {content: '';
    position: absolute;
    top: 23px;
    right: 120px;
    height: 7px;
    width: 7px;
    border-style: solid;
    border-color: #373737;
    border-width: 0px 2px 2px 0px;
    transform: rotate(-135deg);
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-origin: center center;
}

.engine .arrow1 {right: 130px;}
.engine .arrow2 {right: 150px;}
.engine .sub {
    position: absolute;
    bottom: 50px;
    left: -1px;
    width: 100%;
    padding: 10px 20px 20px;
    background: #fff;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    z-index: 10;
    font-size: 14px;
    display: none;
}
.engine .sub li {
    float: left;
    width: 25%;
    margin-top: 15px;
    text-align: left;
}
.engine .sub li a {
    color: #555555;
}
